{{import_globals}}
<button
  name="{{name}}"
  class="aria-hidden i{{_index}} {{#if _iconClass}}btn-icon{{/if}}{{#if text}} btn-text{{/if}} slidercontrols__btn{{#any locked selected}} is-locked is-disabled{{/any}}{{#if _classes}} {{_classes}}{{/if}}{{#if text}} has-text{{/if}}{{#if _iconClass}} has-icon{{/if}}{{#if _alignIconRight}} icon-is-right{{else}} icon-is-left{{/if}} js-slidercontrols-btn"
  data-item-index="{{_index}}"
  {{#if locked}} disabled="disabled"{{/if}}
  {{#equals name "tabs"}}
  role="tab"
  aria-selected="{{selected}}"
  {{/equals}}
  aria-label="{{{compile ariaLabel this}}} {{#if locked}}{{@root/_globals._accessibility._ariaLabels.locked}}{{/if}}">

  <div class="slidercontrols__btn-inner">

    {{#unless _alignIconRight}}
    {{#if _iconClass}}
    <div class="slidercontrols__btn-icon">
      <div class="icon {{_iconClass}}"></div>
    </div>
    {{/if}}
    {{/unless}}

    {{#if text}}
    <div class="slidercontrols__btn-text">
      <div class="slidercontrols__btn-text-inner">
        {{{compile text this}}}
      </div>
    </div>
    {{/if}}

    {{#if _alignIconRight}}
    {{#if _iconClass}}
    <div class="slidercontrols__btn-icon">
      <div class="icon {{_iconClass}}"></div>
    </div>
    {{/if}}
    {{/if}}

  </div>

</button>
