{{! Maintainers - Daryl Hedley}}
{{! .block-container: Adapt will place the articles blocks inside this class}}
{{#if _articleBackgroundTop}}
<div class="article-inner-top" style="background-image:url({{_articleBackgroundTop.src}}); height:{{_articleBackgroundTop.height}}px"></div>
{{/if}}

<div class="article-inner">
    {{! Check if a page title exist and render it}}
    {{#if displayTitle}}
    <div class="article-title">
        <div class="article-title-inner h2" tabindex="0" role="heading" aria-level="2">
            {{{displayTitle}}}
        </div>
    </div>
    {{/if}}
    {{! Check if page body exists and render it}}
    {{#if body}}
    <div class="article-body">
        <div class="article-body-inner">
            {{{a11y_text body}}}
        </div>
    </div>
    {{/if}}
    {{#if instruction}}
    <div class="article-instruction">
        <div class="article-instruction-inner">
            {{{a11y_text instruction}}}
        </div>
    </div>
    {{/if}}
    <div class="article-block-organise{{#if _articleBlockSlider._hasArrows}} has-arrows{{/if}}{{#if _articleBlockSlider._hasTabs}} has-tabs{{/if}}" role="region" {{#if _accessibility._ariaRegions.articleBlockSlider}}tabindex="0" aria-label="{{_accessibility._ariaRegions.articleBlockSlider}}"{{/if}}>
	    <div class="article-block-slider clearfix" {{#if _articleBlockSlider._minHeight}}style="min-height: {{{_articleBlockSlider._minHeight}}}px"{{/if}}>
	        <div class="block-container clearfix">

	        </div>
	    </div>
	    <div class="article-block-toolbar clearfix">
	        
	        <div class="item-button-container clearfix">
	            {{#if _articleBlockSlider._hasArrows}}
	                <button class="base item-button-arrow" data-block-slider="left" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
	                    <div class="icon icon-controls-left"></div>
	                </button>
	            {{/if}}
	            {{#if _articleBlockSlider._hasArrows}}
	                <button class="base item-button-arrow" data-block-slider="right" aria-label="{{_globals._accessibility._ariaLabels.next}}">
	                    <div class="icon icon-controls-right"></div>
	                </button>
	            {{/if}}
	            {{#if _articleBlockSlider._hasTabs}}
	            {{#each _itemButtons}}
	                <button class="base item-button {{_className}}" aria-label="{{_title}}" data-block-slider="index" data-block-slider-index="{{this._index}}"><span class="item-button-inner">{{_title}}</span></button>
	            {{/each}}
	            {{/if}}
	            
	        </div>
	         
	    </div>
	</div>
	<div class="article-block-bottombar clearfix"></div>
</div>

{{#if _articleBackgroundBottom}}<div class="article-inner-bottom" style="background-image:url({{_articleBackgroundBottom.src}}); height:{{_articleBackgroundBottom.height}}px"></div>{{/if}}
